!基本色設定
*foreground: #99ffff
*background: #114411
*color0: yellow2
*color1: #ff66ff
*color2: chocolate1
*color3: green1
*color4: #66ff66
*color5: orange

!emacs
emacs.UseXIM: none
emacs.FontBackend: xft
emacs.font:DejaVu Sans Mono-9:rgba=rgb:hintstyle=hintslight

!urxvt
URxvt.termName:rxvt
URxvt.font:xft:Dejavu Sans Mono-9:rgba=rgb:hintslight,[codeset=ISO10646]xft:Migu 1M
URxvt.letterSpace:-1
URxvt.saveLines:256
