!基本色設定
*foreground: #99ffff
*background: #113311
*color0: #ffff00
*color1: #ff66ff
*color2: #ff8833
*color3: #33ff00
*color4: #9999ff
*color5: #ff3333
*color6: #bbbbbb
*color7: #00ffee
*color8: #eeff66
*color9: #ffccff
*color10: #ffbb66
*color11: #88ff88
*color12: #ccccff
*color13: #ff8888
*color14: #eeeeee
*color15: #66ffee

!Mouse cursor
Xcursor.theme: Vanilla-DMZ-AA
Xcursor.size: 16

!emacs
emacs.UseXIM: none
emacs.FontBackend: xft
emacs.font:DejaVu Sans Mono-9:rgba=rgb:hintstyle=hintslight

!urxvt
URxvt.termName:rxvt
URxvt.font:xft:Dejavu Sans Mono-9:rgba=rgb:hintslight,[codeset=ISO10646]xft:Migu 2M
URxvt.letterSpace:-1
URxvt.saveLines:1024
URxvt.scrollBar:false
