<UserScriptConfig>
	<Script filename="click.user.js" name="click" namespace="http://lovelang.heroku.com/" description="" version="" enabled="true" runAt="document-end" basedir="click" modified="1318692660000" dependhash="da39a3ee5e6b4b0d3255bfef95601890afd80709" checkRemoteUpdates="true" updateAvailable="false" lastUpdateCheck="1318692660000">
		<Include>http://lovelang.heroku.com/</Include>
	</Script>
	<Script filename="disable_twitter_keys.user.js" name="disable twitter keys" namespace="https://twitter.com/" description="" version="" enabled="true" runAt="document-end" basedir="disable_twitter_keys" modified="1328807321000" dependhash="da39a3ee5e6b4b0d3255bfef95601890afd80709" checkRemoteUpdates="true" updateAvailable="false" lastUpdateCheck="1328807172000">
		<Include>http://twitter.com/*</Include>
		<Include>https://twitter.com/*</Include>
	</Script>
</UserScriptConfig>